{
	"Variables": {
		"LOGIN": "login",
		"GITHUB_TOKEN": "****************************************",
		"GITHUB_ENDPOINT": "https://api.github.com/notifications",
		"SLACK_ENDPOINT": "https://hooks.slack.com/services/********************************************",
		"REASON": "mention",
		"POLLING": "true"
	}
}
